* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}


#page {
    width: 100%;
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "content aside"
    "footer footer";
}

.header {
    grid-area: header;
    background-color: purple;
    padding: 150px;
    text-align: center;
}

.nav {
    grid-area: nav;
    background-color: slateblue;
    padding: 50px;
    text-align: center;
}

.side{
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article{
    background-color: darkgreen;
    padding: 150px;
}
.article2{
    background-color: teal;
    padding: 150px;
}

aside {
    grid-area: aside;
    background-color: yellow;
    padding: 300px;
}

footer {
    grid-area: footer;
    background-color: yellowgreen;
    padding: 150px;
    text-align: center;
}